build/
nopes/
releases/

.DS_Store
*.o
*.so

# thanks I hate it
batmon
!batmon/
keymon
!keymon/
lumon
!lumon/
MiniUI
!MiniUI/
progressui
!progressui/
show
!show/
confirm
!confirm/
say
!say/
blank
!blank/

screenshot
!screenshot/
logoread
!logoread/
logomake
!logomake/
logowrite
!logowrite/

# NOTE: this eats miyoo/app/keymon, had to add extension then remove it in makefile
