[submodule "third-party/DinguxCommander"]
	path = third-party/DinguxCommander
	url = git@github.com:shauninman/DinguxCommander.git
[submodule "third-party/SDL-1.2"]
	path = third-party/SDL-1.2
	url = git@github.com:shauninman/SDL-1.2.git
