[submodule "third-party/DinguxCommander"]
	path = third-party/DinguxCommander
	url = https://github.com/shauninman/DinguxCommander.git
	branch = miniui-miyoomini
[submodule "third-party/SDL-1.2"]
	path = third-party/SDL-1.2
	url = https://github.com/shauninman/SDL-1.2.git
	branch = miniui-miyoomini
[submodule "third-party/picoarch"]
	path = third-party/picoarch
	url = https://github.com/shauninman/picoarch.git
	branch = miniui-miyoomini
[submodule "third-party/vvvvvv"]
	path = third-party/vvvvvv
	url = https://github.com/shauninman/VVVVVV.git
	branch = miniui-miyoomini
